<div class="container main-container">
    <h4>Excluir {{ produto.nome }} </h4>
    <br>
    <h5>Você tem certeza disso?</h5>

    <div class="row">
        <div>
            <!-- <img src="{{ imagens }}{{ produto.imagem }}" style="width: 300px; height: 428px"> -->
        </div>
        <div >
            <h3> Nome </h3>
              <h4> {{ produto.nome }} </h4>
               
                <p>
                    Estoque
                </p>
                <h5>
                    {{ produto.estoque }}
                </h5>
                <dt>
                    Valor
                </dt>
                <dd>
                    {{ produto.valor }}
                </dd>
                <dt>
                    DataCadastro
                </dt>
                <dd>
                    12/09/2023
                </dd>
                
           

            <div>
                <a (click)="excluirProduto()" href="javascript:void(0)" class="btn btn-danger">Excluir</a>&nbsp;
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </div>
    </div>

</div>
