
<div class="container main-container">
    <div class="card h-100">     
        <div style="align-content:center;">
            <img src="/assets/{{ produto.imagem }}" height="164px" width="253px" alt="">
        </div>

        <h4 class="card-title">{{ produto.nome | titlecase }}</h4>

        <div class="card-body">
       
        <p>Por apenas:</p>
        <div><h4>R$ {{produto.valor }}</h4></div>
        </div>

        <div class="card-footer">
          <a class="btn btn-primary" href="javascript:void(0)" ></a>
        </div>
 
</div>
